In [1]:
%load_ext autoreload
%autoreload 2
import sys

# instead of creating a package using setup.py or building from a docker/singularity file,
# import the sister directory of src code to be called on in notebook.
# This keeps the notebook free from code to only hold visualizations and is easier to test
# It also helps keep the state of variables clean such that cells aren't run out of order with a mysterious state
sys.path.append("..")

In [2]:
from comet_ml import Experiment
from comet_ml.integration.pytorch import log_model
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import torch
from torch.utils.data import Dataset
from torch.utils.data import DataLoader
from torch import nn
import os
import datetime as dt
import xarray as xr
import glob
import metpy.calc as mpcalc
from metpy.units import units

<frozen importlib._bootstrap>:228: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [3]:
def get_flag(hrrr_df):
    stations_ls = hrrr_df["station"].unique()
    one_hour = dt.timedelta(hours=1)
    flag_ls = []

    for station in stations_ls:
        df = hrrr_df[hrrr_df["station"] == station]
        time_ls = df["valid_time"].tolist()
        for now, then in zip(time_ls, time_ls[1:]):
            if now + one_hour == then:
                flag_ls.append(False)
            else:
                flag_ls.append(True)

    flag_ls.append(False)
    hrrr_df["flag"] = flag_ls

    return hrrr_df

In [4]:
def read_hrrr_data():
    """
    Reads and concatenates parquet files containing forecast and error data for HRRR weather models
    for the years 2018 to 2022.

    Returns:
        pandas.DataFrame: of hrrr weather forecast information for each NYSM site.
    """

    years = ["2018", "2019"]
    savedir = "/home/aevans/ai2es/processed_data/HRRR/ny/"

    # create empty lists to hold dataframes for each model
    hrrr_fcast_and_error = []

    # loop over years and read in parquet files for each model
    for year in years:
        for month in np.arange(1, 13):
            str_month = str(month).zfill(2)
            if (
                os.path.exists(
                    f"{savedir}HRRR_{year}_{str_month}_direct_compare_to_nysm_sites_mask_water.parquet"
                )
                == True
            ):
                hrrr_fcast_and_error.append(
                    pd.read_parquet(
                        f"{savedir}HRRR_{year}_{str_month}_direct_compare_to_nysm_sites_mask_water.parquet"
                    )
                )
            else:
                continue

    # concatenate dataframes for each model
    hrrr_fcast_and_error_df = pd.concat(hrrr_fcast_and_error)
    hrrr_fcast_and_error_df = hrrr_fcast_and_error_df.reset_index().dropna()

    # return dataframes for each model
    return hrrr_fcast_and_error_df

In [5]:
def add_tabular(hrrr_df, geo_df, suffix):
    geo_keys = geo_df.keys()

    for i, _ in enumerate(geo_df["station"]):
        for k in geo_keys:
            hrrr_df.loc[
                hrrr_df["station"] == geo_df["station"].iloc[i], f"{k}_{suffix}"
            ] = geo_df[k].iloc[i]

    return hrrr_df

In [6]:
def encode(data, col, max_val):
    data[col + "_sin"] = np.sin(2 * np.pi * data[col] / max_val)
    data[col + "_cos"] = np.cos(2 * np.pi * data[col] / max_val)

    return data

In [7]:
def get_flag():
    stations_ls = hrrr_df["station"].unique()
    one_hour = dt.timedelta(hours=1)
    flag_ls = []

    for station in stations_ls:
        df = hrrr_df[hrrr_df["station"] == station]
        time_ls = df["valid_time"].tolist()
        for now, then in zip(time_ls, time_ls[1:]):
            if now + one_hour == then:
                flag_ls.append(False)
            else:
                flag_ls.append(True)

    flag_ls.append(False)
    hrrr_df["flag"] = flag_ls

    return hrrr_df

In [8]:
def load_nysm_data():
    # these parquet files are created by running "get_resampled_nysm_data.ipynb"
    nysm_path = "/home/aevans/nwp_bias/data/nysm/"

    nysm_1H = []
    for year in np.arange(2018, 2020):
        df = pd.read_parquet(f"{nysm_path}nysm_1H_obs_{year}.parquet")
        df.reset_index(inplace=True)
        nysm_1H.append(df)
    nysm_1H_obs = pd.concat(nysm_1H)
    nysm_1H_obs = nysm_1H_obs.dropna()
    return nysm_1H_obs

In [9]:
df = load_nysm_data()

In [10]:
hrrr_df = read_hrrr_data()

In [11]:
df.reset_index(inplace=True)
df = df.rename(columns={"time_1H": "valid_time"})
mytimes = hrrr_df["valid_time"].tolist()
# nysm_df = df[df['valid_time'].isin(mytimes)]

In [12]:
df.shape

(1110410, 18)

In [13]:
hrrr_df.shape

(1992162, 27)

In [14]:
nysm_cats_path = "/home/aevans/nwp_bias/src/landtype/data/nysm.csv"
nlcd_path = "/home/aevans/nwp_bias/src/correlation/data/nlcd_nam.csv"
aspect_path = "/home/aevans/nwp_bias/src/correlation/data/aspect_nam.csv"
elev_path = "/home/aevans/nwp_bias/src/correlation/data/elev_nam.csv"

In [15]:
nlcd_df = pd.read_csv(nlcd_path)
aspect_df = pd.read_csv(aspect_path)
elev_df = pd.read_csv(elev_path)
nysm_cats_df = pd.read_csv(nysm_cats_path)

In [16]:
nysm_cats_df["climate_division_name"][1]

'Eastern Plateau'

In [17]:
cats = nysm_cats_df["climate_division"].unique()

In [18]:
nysm_cats_df1 = nysm_cats_df[nysm_cats_df["climate_division"] == cats[0]]
category_name = nysm_cats_df1["climate_division_name"].unique()[0]
stations = nysm_cats_df1["stid"].tolist()
hrrr_df1 = hrrr_df[hrrr_df["station"].isin(stations)]
nysm_df1 = df[df["station"].isin(stations)]

master_df = hrrr_df1.merge(nysm_df1, on="valid_time", suffixes=(None, "_nysm"))
# master_df['day_of_year'] = master_df['valid_time'].dt.dayofyear
# master_df = encode(master_df, 'day_of_year', 366)
# master_df = add_tabular(master_df, nlcd_df, 'nlcd')
# master_df = add_tabular(master_df, aspect_df, 'aspect')
# master_df = add_tabular(master_df, elev_df, 'elev')

# master_df.to_parquet(f'/home/aevans/nwp_bias/src/machine_learning/data/rough_parquets/rough_lstm_nysmcat_{category_name}.parquet')

In [19]:
hrrr = pd.read_parquet('/home/aevans/ai2es/lstm/fh_04/2022/20220101_hrrr_fh04.parquet')
hrrr

,time,y,x,t2m,pt,sh2,d2m,r2,u10,v10,...,dswrf,dlwrf,tcc,gh,dpt,latitude,longitude,valid_time,atmosphere,isobaricInhPa
205655,2022-01-01 00:00:00,1.383248e+06,2.447727e+06,267.232941,266.150940,0.00216,265.785553,72.400002,-0.12900,-0.088146,...,0.0,221.000000,5.0,5415.648438,231.624786,46.977215,-64.975092,2022-01-01 04:00:00,0.0,500.0
205654,2022-01-01 00:00:00,1.383248e+06,2.444724e+06,267.045441,265.963440,0.00214,265.660553,73.300003,-0.12900,0.349354,...,0.0,220.600006,6.0,5415.179688,231.499786,46.986440,-65.011773,2022-01-01 04:00:00,0.0,500.0
205653,2022-01-01 00:00:00,1.383248e+06,2.441721e+06,268.045441,266.963440,0.00236,266.910553,80.800003,-0.06650,0.849354,...,0.0,220.300003,7.0,5414.679688,231.437286,46.995655,-65.048464,2022-01-01 04:00:00,0.0,500.0
205652,2022-01-01 00:00:00,1.383248e+06,2.438718e+06,267.982941,266.900940,0.00234,266.848053,81.000000,-0.06650,1.099354,...,0.0,220.100006,8.0,5414.210938,231.312286,47.004860,-65.085166,2022-01-01 04:00:00,0.0,500.0
205651,2022-01-01 00:00:00,1.383248e+06,2.435715e+06,267.857941,266.713440,0.00233,266.785553,82.900002,-0.00400,1.161854,...,0.0,219.699997,10.0,5413.742188,231.249786,47.014054,-65.121879,2022-01-01 04:00:00,0.0,500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2022-01-01 23:00:00,1.952773e+04,1.108106e+06,285.993225,287.728882,0.00925,285.687286,96.500000,0.23688,2.135538,...,0.0,368.799988,100.0,5635.364746,260.499786,37.973587,-84.837865,2022-01-02 03:00:00,0.0,500.0
3,2022-01-01 23:00:00,1.952773e+04,1.105102e+06,285.930725,287.791382,0.00924,285.624786,96.800003,-0.07562,2.323038,...,0.0,371.600006,100.0,5634.770996,260.562286,37.977281,-84.871766,2022-01-02 03:00:00,0.0,500.0
2,2022-01-01 23:00:00,1.952773e+04,1.102098e+06,285.930725,287.791382,0.00922,285.562286,96.800003,-0.32562,2.385538,...,0.0,372.200012,100.0,5634.208496,260.624786,37.980966,-84.905670,2022-01-02 03:00:00,0.0,500.0
1,2022-01-01 23:00:00,1.952773e+04,1.099094e+06,285.993225,287.853882,0.00923,285.562286,96.599998,-0.20062,2.573038,...,0.0,372.399994,100.0,5633.677246,260.812286,37.984641,-84.939578,2022-01-02 03:00:00,0.0,500.0
0,2022-01-01 23:00:00,1.952773e+04,1.096090e+06,285.993225,287.791382,0.00924,285.624786,96.400002,0.23688,2.635538,...,0.0,372.200012,100.0,5633.145996,260.937286,37.988307,-84.973489,2022-01-02 03:00:00,0.0,500.0

In [70]:
master_df = master_df.drop_duplicates(
    subset=["valid_time", "station", "t2m"], keep="first"
)

In [71]:
master_df

,valid_time,time,station,level_0,index,latitude,longitude,t2m,sh2,d2m,...,td,relh,srad,pres,mslp,wspd_sonic,wmax_sonic,wdir_sonic,precip_total,snow_depth
0,2018-01-01 03:00:00,2018-01-01 01:00:00,ADDI,59218879,326784,42.045955,-77.218867,-19.199194,0.00068,-21.993216,...,-21.994141,76.068916,0.0,964.409973,971.574524,1.247007,1.992487,309.544586,0.0,0.045029
9,2018-01-01 03:00:00,2018-01-01 01:00:00,BELM,58789537,325906,42.236924,-78.054535,-18.324194,0.00057,-23.930716,...,-21.994141,76.068916,0.0,964.409973,971.574524,1.247007,1.992487,309.544586,0.0,0.045029
18,2018-01-01 03:00:00,2018-01-01 01:00:00,COHO,55695145,319578,42.524868,-77.447487,-21.261694,0.00059,-23.680716,...,-21.994141,76.068916,0.0,964.409973,971.574524,1.247007,1.992487,309.544586,0.0,0.045029
27,2018-01-01 03:00:00,2018-01-01 01:00:00,DELE,57912760,324113,42.403769,-78.415993,-19.949194,0.00062,-23.055716,...,-21.994141,76.068916,0.0,964.409973,971.574524,1.247007,1.992487,309.544586,0.0,0.045029
36,2018-01-01 03:00:00,2018-01-01 01:00:00,ELMI,58111294,324519,42.117849,-76.825003,-16.949194,0.00071,-21.180716,...,-21.994141,76.068916,0.0,964.409973,971.574524,1.247007,1.992487,309.544586,0.0,0.045029
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638750,2019-12-01 02:00:00,2019-12-01 00:00:00,ELMI,88414728,118863,42.117849,-76.825003,-2.517584,0.00217,-7.639777,...,-7.888123,83.833267,0.0,955.350830,959.093445,1.171268,1.926686,48.666149,0.0,0.003082
638759,2019-12-01 02:00:00,2019-12-01 00:00:00,GROV,86090472,115739,42.494405,-77.942309,-5.142584,0.00203,-9.014777,...,-7.888123,83.833267,0.0,955.350830,959.093445,1.171268,1.926686,48.666149,0.0,0.003082
638768,2019-12-01 02:00:00,2019-12-01 00:00:00,HART,89103672,119789,42.206262,-77.691552,-5.892584,0.00191,-9.952277,...,-7.888123,83.833267,0.0,955.350830,959.093445,1.171268,1.926686,48.666149,0.0,0.003082
638777,2019-12-01 02:00:00,2019-12-01 00:00:00,OLEA,91801416,123415,42.097365,-78.391637,-2.767584,0.00236,-7.014777,...,-7.888123,83.833267,0.0,955.350830,959.093445,1.171268,1.926686,48.666149,0.0,0.003082
638786,2019-12-01 02:00:00,2019-12-01 00:00:00,RAND,92146632,123880,42.147687,-78.896589,-1.142584,0.00235,-7.139777,...,-7.888123,83.833267,0.0,955.350830,959.093445,1.171268,1.926686,48.666149,0.0,0.003082

In [ ]:
# hrrr_df = read_hrrr_data()
hrrr_df["day_of_year"] = hrrr_df["valid_time"].dt.dayofyear
hrrr_df = encode(hrrr_df, "day_of_year", 366)
hrrr_df = add_tabular(hrrr_df, nlcd_df, "nlcd")
hrrr_df = add_tabular(hrrr_df, aspect_df, "aspect")
hrrr_df = add_tabular(hrrr_df, elev_df, "elev")

In [ ]:
nysm_cats_df["climate_division_name"].unique()[0]

In [ ]:
new_df = pd.read_parquet(
    "/home/aevans/nwp_bias/src/machine_learning/data/rough_lstm_nysmcat_Western Plateau.parquet"
)

In [ ]:
the_keys = new_df.keys()

In [ ]:
for k in the_keys:
    print(k)