In [18]:
%load_ext autoreload
%autoreload 2
import sys

# instead of creating a package using setup.py or building from a docker/singularity file,
# import the sister directory of src code to be called on in notebook.
# This keeps the notebook free from code to only hold visualizations and is easier to test
# It also helps keep the state of variables clean such that cells aren't run out of order with a mysterious state
sys.path.append("..")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [19]:
from data import hrrr_data, nam_data
import pandas as pd
import numpy as np
from datetime import timedelta

In [20]:
df = pd.read_csv(
    "/home/aevans/nwp_bias/src/machine_learning/data/parent_models/HRRR/s2s/Mohawk Valley_u_total_lookup.csv"
)
df = df[df["station"] == "WEST"]

In [21]:
# Group by 'station' and set 'fh' as the index
df_grouped = df.groupby("station").apply(lambda x: x.set_index("forecast_hour"))

# # Optionally, reset the index to avoid multi-level indexing from `groupby().apply()`
# df_grouped = df_grouped.reset_index(level=0, drop=True)

# Display the DataFrame
df_grouped

                      station     alpha       beta       charli        delta  \
station forecast_hour
WEST    1                WEST -0.113434   2.629325     0.456006     0.347571
        2                WEST -0.101671   2.001530     0.536586     2.029693
        3                WEST -0.150186   2.435380    -0.107688     7.137622
        4                WEST -0.135907   2.034729    -0.991786     7.797799
        5                WEST -0.179228   2.400504     1.155689    10.170500
        6                WEST -0.159445   2.148021     2.676928     4.178697
        7                WEST -0.291020   0.700699    14.872025   -15.854485
        8                WEST -0.180289   1.672846     3.505781     5.954759
        9                WEST -0.197865   1.705735     4.767672    11.772387
        10               WEST -0.115661   1.659896    -2.662327    33.957056
        11               WEST -0.195925   1.701659    26.356252   -43.613686
        12               WEST -0.120195   0.510519    21.283234   -16.730077
        13               WEST -0.158195   1.912538     4.876689    67.509912
        14               WEST  0.002331  -4.941028    49.602327   -16.110957
        15               WEST -0.205956   5.963507   -50.350983   852.794379
        16               WEST -1.547590  46.630548  -510.243483  2010.409695
        17               WEST  2.349295 -84.270457   834.895412 -1832.502845
        18               WEST  1.576768 -85.652536  1236.071258 -3974.166993

                            mae       mse
station forecast_hour
WEST    1              0.720911  0.859244
        2              0.612404  0.624454
        3              0.709729  0.857159
        4              0.604732  0.615686
        5              0.711963  0.848575
        6              0.607444  0.630258
        7              0.701930  0.839210
        8              0.614690  0.640031
        9              0.705741  0.845435
        10             0.611778  0.633111
        11             0.702472  0.837614
        12             0.629276  0.680048
        13             0.688058  0.811248
        14             0.610569  0.637650
        15             0.691471  0.814498
        16             0.612957  0.645012
        17             0.687024  0.799844
        18             0.611082  0.629317

In [22]:
df2 = pd.read_csv(
    "/home/aevans/nwp_bias/src/machine_learning/data/parent_models/HRRR/s2s/Mohawk Valley_u_total_lookup_v4.csv"
)
df2

   station  forecast_hour     alpha      diff       mae       mse
0     CAMD              1  1.872802  0.417462  0.913914  1.339704
1     HERK              1  3.036918  0.086927  0.762318  0.946491
2     JOHN              1  2.483908  0.446302  0.856032  1.211346
3     OPPE              1  2.352055  0.559079  0.936348  1.363542
4     SPRA              1  2.385760  0.302439  0.787030  1.042172
5     WEST              1  2.660320 -0.129627  0.720911  0.859244
6     CAMD              2  1.978284  0.415203  0.900629  1.307909
7     HERK              2  2.852049  0.204088  0.763075  0.958345
8     JOHN              2  2.650265  0.570886  0.897975  1.341905
9     OPPE              2  2.159492  0.773447  1.055812  1.694347
10    SPRA              2  2.511294  0.282725  0.767952  1.022190
11    WEST              2  2.583565 -0.122127  0.612404  0.624454
12    CAMD              3  2.224543  0.491448  0.905549  1.303277
13    HERK              3  2.922879  0.298299  0.782190  1.002944

In [23]:
# Group by 'station' and set 'fh' as the index
df_grouped2 = df2.groupby("station").apply(lambda x: x.set_index("forecast_hour"))

# # Optionally, reset the index to avoid multi-level indexing from `groupby().apply()`
# df_grouped = df_grouped.reset_index(level=0, drop=True)

# Display the DataFrame
df_grouped2

                      station     alpha      diff       mae       mse
station forecast_hour
CAMD    1                CAMD  1.872802  0.417462  0.913914  1.339704
        2                CAMD  1.978284  0.415203  0.900629  1.307909
        3                CAMD  2.224543  0.491448  0.905549  1.303277
HERK    1                HERK  3.036918  0.086927  0.762318  0.946491
        2                HERK  2.852049  0.204088  0.763075  0.958345
        3                HERK  2.922879  0.298299  0.782190  1.002944
JOHN    1                JOHN  2.483908  0.446302  0.856032  1.211346
        2                JOHN  2.650265  0.570886  0.897975  1.341905
OPPE    1                OPPE  2.352055  0.559079  0.936348  1.363542
        2                OPPE  2.159492  0.773447  1.055812  1.694347
SPRA    1                SPRA  2.385760  0.302439  0.787030  1.042172
        2                SPRA  2.511294  0.282725  0.767952  1.022190
WEST    1                WEST  2.660320 -0.129627  0.720911  0.859244
        2                WEST  2.583565 -0.122127  0.612404  0.624454

In [ ]:
nysm_clim = pd.read_csv("/home/aevans/nwp_bias/src/landtype/data/nysm.csv")
nysm_clim[nysm_clim["climate_division_name"] == "Eastern Plateau"]

In [ ]:
def get_more_fh(fh, station, var, times):
    hrrr_df_0 = hrrr_data.read_hrrr_data(str(fh + 2).zfill(2))
    hrrr_df_1 = hrrr_data.read_hrrr_data(str(fh + 4).zfill(2))

    hrrr_df_0 = hrrr_df_0[hrrr_df_0["station"] == station]
    hrrr_df_1 = hrrr_df_1[hrrr_df_1["station"] == station]

    hrrr_df_0 = hrrr_df_0[["valid_time", var]]
    hrrr_df_1 = hrrr_df_1[["valid_time", var]]

    # Create a DataFrame for valid times
    df = pd.DataFrame({"valid_time": times})
    df = df.merge(hrrr_df_0, on="valid_time", suffixes=(None, f"_{station}_+2"))
    df = df.merge(hrrr_df_1, on="valid_time", suffixes=(None, f"_{station}_+4"))
    df = df.rename(columns={"t2m": f"{var}_{station}_+2"})
    # df.fillna(-999, inplace=True)

    fh2 = df[f"{var}_{station}_+2"].values
    fh4 = df[f"{var}_{station}_+4"].values

    print(len(fh2))
    print(len(fh4))

    return fh2, fh4

In [ ]:
def read_nam_data(fh):
    """
    Reads and concatenates parquet files containing forecast and error data for HRRR weather models
    for the years 2018 to 2022.

    Returns:
        pandas.DataFrame: of hrrr weather forecast information for each NYSM site.
    """

    years = ["2022", "2023"]
    savedir = f"/home/aevans/nwp_bias/src/machine_learning/data/nam_data/fh{fh}/"

    # create empty lists to hold dataframes for each model
    nam_fcast_and_error = []

    # loop over years and read in parquet files for each model
    for year in years:
        for month in np.arange(1, 13):
            str_month = str(month).zfill(2)
            if (
                os.path.exists(
                    f"{savedir}NAM_{year}_{str_month}_direct_compare_to_nysm_sites_mask_water.parquet"
                )
                == True
            ):
                print(
                    f"{savedir}NAM_{year}_{str_month}_direct_compare_to_nysm_sites_mask_water.parquet"
                )
                nam_fcast_and_error.append(
                    pd.read_parquet(
                        f"{savedir}NAM_{year}_{str_month}_direct_compare_to_nysm_sites_mask_water.parquet"
                    )
                )
            else:
                continue
            gc.collect()

    # concatenate dataframes for each model
    nam_fcast_and_error_df = pd.concat(nam_fcast_and_error)
    nam_fcast_and_error_df = nam_fcast_and_error_df.dropna()

    # return dataframes for each model
    return nam_fcast_and_error_df

In [ ]:
def read_gfs_data(fh):
    """
    Reads and concatenates parquet files containing forecast and error data for HRRR weather models
    for the years 2018 to 2022.

    Returns:
        pandas.DataFrame: of hrrr weather forecast information for each NYSM site.
    """

    years = ["2018", "2019", "2020", "2021", "2022", "2023"]
    savedir = f"/home/aevans/nwp_bias/src/machine_learning/data/gfs_data/fh{fh}/"

    # create empty lists to hold dataframes for each model
    gfs_fcast_and_error = []

    # loop over years and read in parquet files for each model
    for year in years:
        print("compiling", year)
        for month in np.arange(1, 13):
            print(month)
            str_month = str(month).zfill(2)
            if (
                os.path.exists(
                    f"{savedir}GFS_{year}_{str_month}_direct_compare_to_nysm_sites_mask_water.parquet"
                )
                == True
            ):
                gfs_fcast_and_error.append(
                    pd.read_parquet(
                        f"{savedir}GFS_{year}_{str_month}_direct_compare_to_nysm_sites_mask_water.parquet"
                    )
                )
            else:
                continue

            gc.collect()

    # concatenate dataframes for each model
    gfs_fcast_and_error_df = pd.concat(gfs_fcast_and_error)

    # return dataframes for each model
    return gfs_fcast_and_error_df

In [ ]:
def load_nysm_data():
    """
    Load and concatenate NYSM (New York State Mesonet) data from parquet files.

    NYSM data is resampled at 1-hour intervals and stored in separate parquet files
    for each year from 2018 to 2022.

    Returns:
        nysm_1H_obs (pd.DataFrame): A DataFrame containing concatenated NYSM data with
        missing values filled for the 'snow_depth' column.

    This function reads NYSM data from parquet files, resamples it to a 1-hour interval,
    and concatenates the data from multiple years. Missing values in the 'snow_depth'
    column are filled with -999, and any rows with missing values are dropped before
    returning the resulting DataFrame.

    Example:
    ```
    nysm_data = load_nysm_data()
    print(nysm_data.head())
    ```

    Note: Ensure that the parquet files are located in the specified path before using this function.
    """
    # Define the path where NYSM parquet files are stored.
    nysm_path = "/home/aevans/nwp_bias/data/nysm/"

    # Initialize an empty list to store data for each year.
    nysm_1H = []

    # Loop through the years from 2018 to 2022 and read the corresponding parquet files.
    for year in np.arange(2018, 2023):
        df = pd.read_parquet(f"{nysm_path}nysm_3H_obs_{year}.parquet")
        df.reset_index(inplace=True)
        nysm_1H.append(df)

    # Concatenate data from different years into a single DataFrame.
    nysm_1H_obs = pd.concat(nysm_1H)

    # Fill missing values in the 'snow_depth' column with -999.
    nysm_1H_obs["snow_depth"].fillna(-999, inplace=True)
    # Fill missing values in the 'snow_depth' column with -999.
    nysm_1H_obs["ta9m"].fillna(-999, inplace=True)

    # if nysm_1H_obs['ta9m'].isna().mean() > 0.8:
    #     nysm_1H_obs.drop('ta9m', axis=1, inplace=True)

    # nysm_1H_obs.dropna(inplace=True)

    return nysm_1H_obs

In [ ]:
df = load_nysm_data()
len(df["station"].unique())

In [ ]:
df = df[df["station"] == "MANH"]

In [ ]:
df

In [ ]:
import gc

gfs_df = read_gfs_data("006")

In [ ]:
gfs_df

In [ ]:
fh = 6
station = "SOUT"
var = "t2m"

In [ ]:
df = pd.read_parquet(
    "/home/aevans/nwp_bias/src/machine_learning/data/nam_data/fh001/NAM_2022_04_direct_compare_to_nysm_sites_mask_water.parquet"
)
df

In [ ]:
nam_df = read_nam_data(str(fh).zfill(3))

In [ ]:
# hrrr_df = hrrr_data.read_hrrr_data(str(fh).zfill(2))

# # Filter NYSM data to match valid times from HRRR data
# mytimes = hrrr_df["valid_time"].tolist()
# fh2_, fh4_ = get_more_fh(fh, station, var, mytimes)

In [ ]:
# len(mytimes)

In [ ]:
a100_mae = [
    0.07,
    0.17,
]
a100_mse = [
    0.07,
    0.22,
]
a100_batch = [
    1000,
    5000,
]
a100_gpu = [8, 30]
a100_runtime = [
    timedelta(seconds=24, minutes=16, hours=0),
    timedelta(seconds=5, minutes=16, hours=0),
]

In [ ]:
gh200_mae = [0.06, 0.06]
gh200_mse = [0.06, 0.07]
gh200_batch = [1000, 10000]
gh200_gpu = [8, 64]
gh200_runtime = [
    timedelta(seconds=22, minutes=6, hours=0),
    timedelta(seconds=51, minutes=6, hours=0),
]

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
from datetime import timedelta


def plot_runtime_bar_chart(a100_batch, a100_run_time):
    # Convert timedelta objects to total minutes
    run_time_minutes = [rt.total_seconds() / 60 for rt in a100_run_time]

    # Create the plot
    fig, ax = plt.subplots()

    # Plot the bar chart
    ax.bar(a100_batch, run_time_minutes, 1000, color="orange", label="Run Time")

    # Adding scatter points with large X markers on top of bars
    # ax.scatter(a100_batch, run_time_minutes, color='red', marker='x', s=100, label='Run Time Points')

    # Adding labels and title
    ax.set_xlabel("Batch Size")
    ax.set_ylabel("Run Time (minutes)")
    ax.set_title("Run Time by Batch Size gh200")

    # Display the plot
    plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np


def plot_metrics_bar(a100_mae, a100_mse, a100_batch):
    # Number of bars
    n = len(a100_mae)

    # Create an array for the positions of the bars
    bar_width = 0.35
    index = np.arange(n)

    # Plotting the bars
    fig, ax = plt.subplots()
    bar1 = ax.bar(
        index,
        a100_mae,
        bar_width,
    )
    # bar2 = ax.bar(index + bar_width, a100_mse, bar_width, label='MSE')

    # Adding labels and title
    ax.set_xlabel("Batch Size")
    ax.set_ylabel("GPU Memory")
    ax.set_ylim(0, 90)
    ax.set_title("GPU Memory by Batch Size for a100")
    ax.set_xticks(index)
    ax.set_xticklabels(a100_batch)
    ax.legend()

    # Display the plot
    plt.show()

In [ ]:
plot_runtime_bar_chart(a100_batch, a100_runtime)

In [ ]:
plot_runtime_bar_chart(gh200_batch, gh200_runtime)

In [ ]:
plot_metrics_bar(a100_gpu, a100_mse, a100_batch)

In [ ]:
plot_metrics_bar(gh200_gpu, gh200_mse, gh200_batch)