In [1]:
%load_ext autoreload
%autoreload 2
import sys

# instead of creating a package using setup.py or building from a docker/singularity file,
# import the sister directory of src code to be called on in notebook.
# This keeps the notebook free from code to only hold visualizations and is easier to test
# It also helps keep the state of variables clean such that cells aren't run out of order with a mysterious state
sys.path.append("..")

In [2]:
import os
import pandas as pd
import cartopy.crs as crs
import cartopy.feature as cfeature
import numpy as np

In [3]:
# def format_df(df):
#     colors = [
#         "black",
#         "blue",
#         "white",
#         "coral",
#         "pink",
#         "red",
#         "magenta",
#         "gray",
#         "lime",
#         "forestgreen",
#         "green",
#         "olive",
#         "brown",
#         "slategray",
#         "darkorchid",
#         "plum",
#         "indigo",
#         "purple",
#         "yellow",
#         "gold",
#         "orange",
#         "cyan",
#     ]
#     legend = np.array(
#         [
#             0,
#             11,
#             12,
#             21,
#             22,
#             23,
#             24,
#             31,
#             41,
#             42,
#             43,
#             45,
#             51,
#             52,
#             71,
#             72,
#             73,
#             74,
#             81,
#             82,
#             90,
#             95,
#         ]
#     )
#     leg_str = [
#         "No Data",
#         "Open Water",
#         "Perennial Ice/Snow",
#         "Developed, Open Space",
#         "Developed, Low Intensity",
#         "Developed, Medium Intensity",
#         "Developed High Intensity",
#         "Barren Land (Rock/Sand/Clay)",
#         "Deciduous Forest",
#         "Evergreen Forest",
#         "Mixed Forest",
#         "Forest/Shrub",
#         "Dwarf Scrub",
#         "Shrub/Scrub",
#         "Grassland/Herbaceous",
#         "Sedge/Herbaceous",
#         "Lichens",
#         "Moss",
#         "Pasture/Hay",
#         "Cultivated Crops",
#         "Woody Wetlands",
#         "Emergent Herbaceous Wetlands",
#     ]

#     descripdict = {}
#     colordict = {}

#     for x, _ in enumerate(colors):
#         descripdict.update({legend[x]: leg_str[x]})
#         colordict.update({legend[x]: colors[x]})

#     df["color"] = df["firstmode_val"].map(colordict)

#     df["divide"] = (df["firstmode_count"] / df["sum_total"]) * 100


# def plurality_plot(df):
#     colors = [
#         "black",
#         "blue",
#         "white",
#         "coral",
#         "pink",
#         "red",
#         "magenta",
#         "gray",
#         "lime",
#         "forestgreen",
#         "green",
#         "olive",
#         "brown",
#         "slategray",
#         "darkorchid",
#         "plum",
#         "indigo",
#         "purple",
#         "yellow",
#         "gold",
#         "orange",
#         "cyan",
#     ]
#     legend = np.array(
#         [
#             0,
#             11,
#             12,
#             21,
#             22,
#             23,
#             24,
#             31,
#             41,
#             42,
#             43,
#             45,
#             51,
#             52,
#             71,
#             72,
#             73,
#             74,
#             81,
#             82,
#             90,
#             95,
#         ]
#     )
#     leg_str = [
#         "No Data",
#         "Open Water",
#         "Perennial Ice/Snow",
#         "Developed, Open Space",
#         "Developed, Low Intensity",
#         "Developed, Medium Intensity",
#         "Developed High Intensity",
#         "Barren Land (Rock/Sand/Clay)",
#         "Deciduous Forest",
#         "Evergreen Forest",
#         "Mixed Forest",
#         "Forest/Shrub",
#         "Dwarf Scrub",
#         "Shrub/Scrub",
#         "Grassland/Herbaceous",
#         "Sedge/Herbaceous",
#         "Lichens",
#         "Moss",
#         "Pasture/Hay",
#         "Cultivated Crops",
#         "Woody Wetlands",
#         "Emergent Herbaceous Wetlands",
#     ]

#     # legend
#     patches = []
#     for i, _ in enumerate(colors):
#         patch = mpatches.Patch(color=colors[i], label=leg_str[i])
#         patches.append(patch)

#     projPC = crs.PlateCarree()
#     latN = df["lat"].max() + 1
#     latS = df["lat"].min() - 1
#     lonW = df["lon"].max() + 1
#     lonE = df["lon"].min() - 1
#     cLat = (latN + latS) / 2
#     cLon = (lonW + lonE) / 2
#     projLcc = crs.LambertConformal(central_longitude=cLon, central_latitude=cLat)

#     fig, ax = plt.subplots(
#         figsize=(12, 9), subplot_kw={"projection": crs.PlateCarree()}
#     )
#     ax.set_extent([lonW, lonE, latS, latN], crs=projPC)
#     ax.add_feature(cfeature.LAND)
#     ax.add_feature(cfeature.COASTLINE)
#     ax.add_feature(cfeature.BORDERS, linestyle="--")
#     ax.add_feature(cfeature.LAKES, alpha=0.5)
#     ax.add_feature(cfeature.STATES)
#     ax.xticklabels_top = False
#     ax.ylabels_right = False
#     ax.gridlines(
#         crs=crs.PlateCarree(),
#         draw_labels=True,
#         linewidth=2,
#         color="black",
#         alpha=0.5,
#         linestyle="--",
#     )
#     ax.scatter(
#         x=df["lon"],
#         y=df["lat"],
#         c=df["color"],
#         s=df["divide"],
#         marker="o",
#         transform=crs.PlateCarree(),
#     )
#     ax.set_title("Mesonet Site Plurality by Landtype", size=16)
#     ax.set_xlabel("Longitude", size=14)
#     ax.set_ylabel("Latitude", size=14)
#     ax.tick_params(axis="x", labelsize=12)
#     ax.tick_params(axis="y", labelsize=12)
#     ax.grid()
#     ax.legend(
#         bbox_to_anchor=(1.05, 1), loc="upper left", borderaxespad=0, handles=patches
#     )


# def percent_plot(df):
#     colors = [
#         "black",
#         "blue",
#         "white",
#         "coral",
#         "pink",
#         "red",
#         "magenta",
#         "gray",
#         "lime",
#         "forestgreen",
#         "green",
#         "olive",
#         "brown",
#         "slategray",
#         "darkorchid",
#         "plum",
#         "indigo",
#         "purple",
#         "yellow",
#         "gold",
#         "orange",
#         "cyan",
#     ]
#     legend = np.array(
#         [
#             0,
#             11,
#             12,
#             21,
#             22,
#             23,
#             24,
#             31,
#             41,
#             42,
#             43,
#             45,
#             51,
#             52,
#             71,
#             72,
#             73,
#             74,
#             81,
#             82,
#             90,
#             95,
#         ]
#     )
#     leg_str = [
#         "No Data",
#         "Open Water",
#         "Perennial Ice/Snow",
#         "Developed, Open Space",
#         "Developed, Low Intensity",
#         "Developed, Medium Intensity",
#         "Developed High Intensity",
#         "Barren Land (Rock/Sand/Clay)",
#         "Deciduous Forest",
#         "Evergreen Forest",
#         "Mixed Forest",
#         "Forest/Shrub",
#         "Dwarf Scrub",
#         "Shrub/Scrub",
#         "Grassland/Herbaceous",
#         "Sedge/Herbaceous",
#         "Lichens",
#         "Moss",
#         "Pasture/Hay",
#         "Cultivated Crops",
#         "Woody Wetlands",
#         "Emergent Herbaceous Wetlands",
#     ]

#     # legend
#     patches = []
#     for i, _ in enumerate(colors):
#         patch = mpatches.Patch(color=colors[i], label=leg_str[i])
#         patches.append(patch)

#     fig, ax = plt.subplots(figsize=(20, 10))
#     ax.scatter(df["station"], df["divide"], c=df["color"], s=50)
#     for n in df.iterrows():
#         ax.annotate(n[1]["station"], (n[1]["station"], n[1]["divide"]), fontsize=15)
#     ax.grid()
#     ax.set_ylabel("Percent of Total", size=20)
#     ax.tick_params(labelbottom=False, bottom=False)
#     ax.legend(
#         bbox_to_anchor=(1.05, 1), loc="center left", borderaxespad=0, handles=patches
#     )

In [4]:
def format_df(df):
    new_df = pd.DataFrame()
    value_list = []
    for x, _ in df.iterrows():
        count = int(df.iloc[x]["COUNT"])
        value = df.iloc[x]["VALUE"]
        for n in np.arange(count):
            val = value
            value_list.append(val)
    new_df["VALUE"] = value_list
    return new_df

In [5]:
# This will return the most recent data avail on mesonet
# this is my file path
ny_df = pd.read_csv("/home/aevans/nwp_bias/src/landtype/data/nysm.csv")

In [6]:
ny_df.head()

,stid,number,name,lat [degrees],lon [degrees],elevation [m],county,nearest_city,state,distance_from_town [km],direction_from_town [degrees],climate_division,climate_division_name,wfo,commissioned,decommissioned
0,ADDI,107,Addison,42.04036,-77.23726,507.6140,Steuben,Addison,NY,6.9,S,1,Western Plateau,BGM,2016-08-10 18:15:00 UTC,NaN
1,ANDE,111,Andes,42.18227,-74.80139,518.2820,Delaware,Andes,NY,1.5,WSW,2,Eastern Plateau,BGM,2016-08-04 15:55:00 UTC,NaN
2,BATA,24,Batavia,43.01994,-78.13566,276.1200,Genesee,Batavia,NY,4.9,ENE,9,Great Lakes,BUF,2016-02-18 18:40:00 UTC,NaN
3,BEAC,76,Beacon,41.52875,-73.94527,90.1598,Dutchess,Beacon,NY,3.3,NE,5,Hudson Valley,ALY,2016-08-22 16:45:00 UTC,NaN
4,BELD,90,Belden,42.22322,-75.66852,470.3700,Broome,Belden,NY,2.2,NNE,2,Eastern Plateau,BGM,2015-11-30 20:20:00 UTC,NaN

In [24]:
ny_df["climate_division_name"].unique()

array(['Western Plateau', 'Eastern Plateau', 'Great Lakes',
       'Hudson Valley', 'Coastal', 'Central Lakes', 'Mohawk Valley',
       'Champlain Valley', 'Northern Plateau', 'St. Lawrence Valley'],
      dtype=object)

In [25]:
# df = ny_df[ny_df["climate_division_name"] == "Western Plateau"]
df = ny_df.copy()

In [26]:
ny_df_lons = df["lon [degrees]"].to_list()
ny_df_lats = df["lat [degrees]"].to_list()

In [27]:
station_list_ny = df["stid"].to_list()

In [28]:
# Initialize an empty DataFrame to store the combined data.
df_complete = pd.DataFrame()

# Loop over the CSV files and combine them into a single DataFrame.
for i in range(1, len(station_list_ny) + 1):
    # Read the CSV file and calculate the percentage of each aspect.
    df_x = pd.read_csv(
        "/home/aevans/nwp_bias/src/landtype/data/nysm_representativeness_analysis/aspect_slope/aspect_slope_western_plat.csv"
    )
    df_x = df_x.assign(Percentage=lambda x: (x["Count"] / sum(df_x["Count"]) * 100))

    # Add the site number and pivot the DataFrame to have aspects as columns.
    df_x["site"] = i
    df_x = df_x.pivot(index="site", columns="Value", values="Percentage")

    # Concatenate the current DataFrame with the combined DataFrame.
    df_complete = pd.concat([df_complete, df_x])

# Add the station names as a column in the DataFrame and fill missing values with 0.
df_complete["station"] = station_list_ny
df_complete = df_complete.fillna(0)
df_complete

# Save the DataFrame as a CSV file.
df_complete.to_csv(
    "/home/aevans/nwp_bias/src/landtype/data/nysm_representativeness_analysis/clean/aspect_slope/aspect_slope_western_plateau.csv"
)

In [29]:
df_complete

Value,19,21,22,23,24,25,26,27,28,station
site,,,,,,,,,,
1,81.100287,2.005731,2.882521,3.340974,1.547278,1.100287,2.286533,3.358166,2.378223,ADDI
2,81.100287,2.005731,2.882521,3.340974,1.547278,1.100287,2.286533,3.358166,2.378223,ANDE
3,81.100287,2.005731,2.882521,3.340974,1.547278,1.100287,2.286533,3.358166,2.378223,BATA
4,81.100287,2.005731,2.882521,3.340974,1.547278,1.100287,2.286533,3.358166,2.378223,BEAC
5,81.100287,2.005731,2.882521,3.340974,1.547278,1.100287,2.286533,3.358166,2.378223,BELD
...,...,...,...,...,...,...,...,...,...,...
122,81.100287,2.005731,2.882521,3.340974,1.547278,1.100287,2.286533,3.358166,2.378223,WFMB
123,81.100287,2.005731,2.882521,3.340974,1.547278,1.100287,2.286533,3.358166,2.378223,WGAT
124,81.100287,2.005731,2.882521,3.340974,1.547278,1.100287,2.286533,3.358166,2.378223,WHIT
125,81.100287,2.005731,2.882521,3.340974,1.547278,1.100287,2.286533,3.358166,2.378223,WOLC
126,81.100287,2.005731,2.882521,3.340974,1.547278,1.100287,2.286533,3.358166,2.378223,YORK

In [30]:
# paths to data nlcd
path = "/home/aevans/nwp_bias/src/landtype/data/buffer_nam/"
# paths to data slope
path_ny = f"/home/aevans/nwp_bias/src/landtype/data/buffer_nam/"

In [31]:
import pandas as pd


def process_csv_files(path: str, station_list: list) -> None:
    """
    Reads multiple CSV files containing aspect data for different sites,
    calculates the percentage of each aspect for each site, and combines
    the data into a single DataFrame. The resulting DataFrame is filled
    with 0 for missing values, and then saved as a CSV file.

    Args:
        path (str): The path where the CSV files are located.
        station_list (list): A list of station names corresponding to each site.

    Returns:
        None
    """

    # Initialize an empty DataFrame to store the combined data.
    df_complete = pd.DataFrame()

    # Loop over the CSV files and combine them into a single DataFrame.
    for i in range(1, len(station_list) + 1):
        # Read the CSV file and calculate the percentage of each aspect.
        df_x = pd.read_csv(f"{path}/NLCD_{i}.csv")
        df_x = df_x.assign(Percentage=lambda x: (x["COUNT"] / sum(df_x["COUNT"]) * 100))

        # Add the site number and pivot the DataFrame to have aspects as columns.
        df_x["site"] = i
        df_x = df_x.pivot(index="site", columns="VALUE", values="Percentage")

        # Concatenate the current DataFrame with the combined DataFrame.
        df_complete = pd.concat([df_complete, df_x])

    # Add the station names as a column in the DataFrame and fill missing values with 0.
    df_complete["station"] = station_list
    df_complete = df_complete.fillna(0)

    # Save the DataFrame as a CSV file.
    df_complete.to_csv("/home/aevans/nwp_bias/src/landtype/data/nlcd_nam_buffer.csv")
    return df_complete

In [32]:
df = process_csv_files(path_ny, station_list_ny)

In [33]:
df

VALUE,11,21,22,23,24,31,41,42,43,52,71,81,82,90,95,0,station
site,,,,,,,,,,,,,,,,,
1,0.228456,5.210705,0.568354,0.140894,0.027860,0.044577,27.274609,4.097878,28.096095,0.357410,0.071641,31.061245,2.022670,0.497508,0.300097,0.0,ADDI
2,0.375712,3.902792,0.604961,0.136912,0.014328,0.026268,70.586175,1.892890,7.878021,1.158181,0.535709,11.811061,0.043780,0.936893,0.096316,0.0,ANDE
3,0.700397,7.022277,6.715058,4.036835,2.186353,0.584991,7.132908,0.124957,1.551221,0.176691,0.212507,8.499479,52.251220,7.848428,0.956679,0.0,BATA
4,14.799955,11.138176,10.038847,11.216984,4.613045,0.536530,37.394724,0.114630,0.339113,0.316823,0.612950,2.880069,0.076420,5.289679,0.632055,0.0,BEAC
5,0.332702,4.272593,1.330808,0.537258,0.039797,0.096308,30.033907,6.483707,31.942565,0.284150,0.197393,22.987472,0.253108,0.991738,0.216495,0.0,BELD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,0.343025,2.334318,1.288531,0.635909,0.194195,0.190215,39.011676,33.516916,14.661711,3.660255,0.611236,0.245131,0.000000,3.097567,0.209317,0.0,WFMB
123,2.069569,2.333837,0.276208,0.140890,0.006368,0.034227,56.181645,11.708191,5.469235,0.932898,0.641567,0.076415,0.040595,19.789063,0.299292,0.0,WGAT
124,1.236081,0.960689,1.451779,1.179570,0.351006,0.589785,36.651040,25.655250,8.514872,0.319168,0.487110,14.310047,1.906255,5.229268,1.158080,0.0,WHIT
125,0.606543,5.913396,1.502030,0.582663,0.349439,0.018308,34.084216,0.536496,3.964021,0.608931,0.351827,10.210937,27.867548,11.666003,1.737642,0.0,WOLC
126,1.213125,3.382262,1.808543,0.631239,0.208556,0.037413,17.258370,0.106666,1.047554,0.413927,0.260296,16.159871,55.201153,1.898492,0.372534,0.0,YORK