In [328]:
%load_ext autoreload
%autoreload 2
import sys

# instead of creating a package using setup.py or building from a docker/singularity file,
# import the sister directory of src code to be called on in notebook.
# This keeps the notebook free from code to only hold visualizations and is easier to test
# It also helps keep the state of variables clean such that cells aren't run out of order with a mysterious state
sys.path.append("..")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [329]:
import pandas as pd
import datetime
from datetime import datetime
import time
import numpy as np
from datetime import timedelta
from datetime import date

In [330]:
df1 = pd.read_parquet("/home/aevans/ai2es/cleaned/NAM/2018/01/20180101_nam.t00z_001.parquet")

In [331]:
df1

                                            y             x        orog  cape  \
time       latitude  longitude
2018-01-01 38.031165 -84.920231  1.494584e+06  9.075068e+05  240.150024   1.0
           38.023186 -84.785154  1.494584e+06  9.197137e+05  251.590027   1.0
           38.015101 -84.650097  1.494584e+06  9.319206e+05  268.150024   2.0
           38.006910 -84.515061  1.494584e+06  9.441274e+05  280.950012   2.0
           37.998612 -84.380045  1.494584e+06  9.563343e+05  284.070038   2.0
...                                       ...           ...         ...   ...
           47.030162 -65.660569  2.772665e+06  2.396613e+06   62.390026   0.0
           47.008407 -65.515795  2.772665e+06  2.408817e+06   48.710026   0.0
           46.986543 -65.371089  2.772665e+06  2.421022e+06   39.030025   0.0
           46.964570 -65.226452  2.772665e+06  2.433226e+06   27.430025   0.0
           46.942488 -65.081884  2.772665e+06  2.445430e+06   16.310024   0.0

                                      cin  dswrf       dlwrf   tp      sde  \
time       latitude  longitude
2018-01-01 38.031165 -84.920231 -0.369092    0.0  184.546341  0.0  0.00000
           38.023186 -84.785154 -0.269092    0.0  196.646332  0.0  0.00000
           38.015101 -84.650097 -0.069092    0.0  204.946335  0.0  0.00000
           38.006910 -84.515061  0.030908    0.0  196.646332  0.0  0.00000
           37.998612 -84.380045  0.030908    0.0  198.046341  0.0  0.00000
...                                   ...    ...         ...  ...      ...
           47.030162 -65.660569  0.030908    0.0  239.546341  0.0  0.40440
           47.008407 -65.515795  0.030908    0.0  234.846344  0.0  0.39412
           46.986543 -65.371089  0.030908    0.0  239.046341  0.0  0.37700
           46.964570 -65.226452  0.030908    0.0  234.246338  0.0  0.36936
           46.942488 -65.081884  0.030908    0.0  228.946335  0.0  0.34948

                                        t2m      sh2         d2m         r2  \
time       latitude  longitude
2018-01-01 38.031165 -84.920231  262.975159  0.00118  257.931488  67.166031
           38.023186 -84.785154  263.125153  0.00118  258.131470  66.766029
           38.015101 -84.650097  263.185150  0.00119  258.131470  66.766029
           38.006910 -84.515061  263.045166  0.00120  258.231476  68.066032
           37.998612 -84.380045  262.985168  0.00122  258.431488  69.466034
...                                     ...      ...         ...        ...
           47.030162 -65.660569  258.615143  0.00078  253.131485  63.366032
           47.008407 -65.515795  258.785156  0.00080  253.531479  64.766029
           46.986543 -65.371089  258.815155  0.00082  253.831482  66.066032
           46.964570 -65.226452  259.055145  0.00084  254.131485  66.566032
           46.942488 -65.081884  259.345154  0.00086  254.431488  66.666031

                                      u10       v10          prmsl   tcc  \
time       latitude  longitude
2018-01-01 38.031165 -84.920231  1.146992 -3.605448  103540.929688  12.0
           38.023186 -84.785154  0.996992 -3.635448  103524.289062  13.0
           38.015101 -84.650097  0.796992 -3.695448  103509.570312  13.0
           38.006910 -84.515061  0.636992 -3.895448  103500.453125  20.0
           37.998612 -84.380045  0.546992 -4.185448  103491.968750  30.0
...                                   ...       ...            ...   ...
           47.030162 -65.660569  5.456992 -0.885448  101011.968750   0.0
           47.008407 -65.515795  5.506992 -0.515448  100991.007812   0.0
           46.986543 -65.371089  5.706992 -0.145448  100966.687500   0.0
           46.964570 -65.226452  6.176992  0.104552  100939.007812   6.0
           46.942488 -65.081884  6.916992  0.284552  100907.648438  14.0

                                          gh          valid_time
time       latitude  longitude
2018-01-01 38.031165 -84.920231  5430.758301 2018-01-01 01:00:00
           38.023186 -84.785154  5430.230469 2018-01-01 01:00:00
           38.015101 -84.650097  5429.654297 2018-01-01 01:00:00
           38.006910 -84.515061  5429.158691 2018-01-01 01:00:00
           37.998612 -84.380045  5428.710449 2018-01-01 01:00:00
...                                      ...                 ...
           47.030162 -65.660569  5094.646484 2018-01-01 01:00:00
           47.008407 -65.515795  5094.038574 2018-01-01 01:00:00
           46.986543 -65.371089  5093.478516 2018-01-01 01:00:00
           46.964570 -65.226452  5092.950684 2018-01-01 01:00:00
           46.942488 -65.081884  5092.406738 2018-01-01 01:00:00

[13462 rows x 19 columns]

In [332]:
df2 = pd.read_parquet("/home/aevans/ai2es/cleaned/NAM/2018/01/20180102_nam.t00z_001.parquet")

In [333]:
df2

                                            y             x        orog  cape  \
time       latitude  longitude
2018-01-02 38.031165 -84.920231  1.494584e+06  9.075068e+05  240.150024   0.0
           38.023186 -84.785154  1.494584e+06  9.197137e+05  251.590027   0.0
           38.015101 -84.650097  1.494584e+06  9.319206e+05  268.150024   0.0
           38.006910 -84.515061  1.494584e+06  9.441274e+05  280.950012   0.0
           37.998612 -84.380045  1.494584e+06  9.563343e+05  284.070038   0.0
...                                       ...           ...         ...   ...
           47.030162 -65.660569  2.772665e+06  2.396613e+06   62.390026   0.0
           47.008407 -65.515795  2.772665e+06  2.408817e+06   48.710026   0.0
           46.986543 -65.371089  2.772665e+06  2.421022e+06   39.030025   0.0
           46.964570 -65.226452  2.772665e+06  2.433226e+06   27.430025   0.0
           46.942488 -65.081884  2.772665e+06  2.445430e+06   16.310024   0.0

                                      cin  dswrf       dlwrf   tp      sde  \
time       latitude  longitude
2018-01-02 38.031165 -84.920231  0.015332    0.0  166.013229  0.0  0.00012
           38.023186 -84.785154  0.015332    0.0  165.713226  0.0  0.00036
           38.015101 -84.650097  0.015332    0.0  165.413239  0.0  0.00060
           38.006910 -84.515061  0.015332    0.0  165.213226  0.0  0.00076
           37.998612 -84.380045  0.015332    0.0  165.213226  0.0  0.00076
...                                   ...    ...         ...  ...      ...
           47.030162 -65.660569  0.015332    0.0  198.113235  0.0  0.39360
           47.008407 -65.515795  0.015332    0.0  187.913239  0.0  0.38516
           46.986543 -65.371089  0.015332    0.0  203.113235  0.0  0.36928
           46.964570 -65.226452  0.015332    0.0  189.713226  0.0  0.36144
           46.942488 -65.081884  0.015332    0.0  176.713226  0.0  0.34236

                                        t2m      sh2         d2m         r2  \
time       latitude  longitude
2018-01-02 38.031165 -84.920231  261.306427  0.00073  252.591827  48.395287
           38.023186 -84.785154  261.296417  0.00073  252.591827  48.395287
           38.015101 -84.650097  261.266418  0.00074  252.491821  48.295284
           38.006910 -84.515061  261.216431  0.00074  252.491821  48.695286
           37.998612 -84.380045  261.236420  0.00074  252.591827  48.895287
...                                     ...      ...         ...        ...
           47.030162 -65.660569  256.106415  0.00069  251.791824  69.595284
           47.008407 -65.515795  256.096436  0.00069  251.791824  69.595284
           46.986543 -65.371089  256.526428  0.00071  252.091827  68.895287
           46.964570 -65.226452  256.756439  0.00072  252.191818  68.495285
           46.942488 -65.081884  256.856415  0.00073  252.391815  68.895287

                                      u10       v10          prmsl  tcc  \
time       latitude  longitude
2018-01-02 38.031165 -84.920231  2.064317 -2.238336  104217.687500  0.0
           38.023186 -84.785154  2.214316 -2.278336  104208.250000  0.0
           38.015101 -84.650097  2.284316 -2.228336  104197.531250  0.0
           38.006910 -84.515061  2.244316 -2.138336  104186.812500  0.0
           37.998612 -84.380045  2.214316 -2.118336  104175.929688  0.0
...                                   ...       ...            ...  ...
           47.030162 -65.660569  3.024316 -0.158336  101512.093750  0.0
           47.008407 -65.515795  3.214316  0.041664  101501.210938  0.0
           46.986543 -65.371089  3.394316  0.221664  101484.890625  0.0
           46.964570 -65.226452  3.524316  0.441664  101467.609375  0.0
           46.942488 -65.081884  3.614316  0.711664  101450.812500  0.0

                                          gh          valid_time
time       latitude  longitude
2018-01-02 38.031165 -84.920231  5444.023438 2018-01-02 01:00:00
           38.023186 -84.785154  5442.375488 2018-01-02 01:00:00
           38.015101 -84.650097  5440.743652 2018-01-02 01:00:00
           38.006910 -84.515061  5439.143555 2018-01-02 01:00:00
           37.998612 -84.380045  5437.575684 2018-01-02 01:00:00
...                                      ...                 ...
           47.030162 -65.660569  5116.087402 2018-01-02 01:00:00
           47.008407 -65.515795  5116.391602 2018-01-02 01:00:00
           46.986543 -65.371089  5116.695312 2018-01-02 01:00:00
           46.964570 -65.226452  5117.031738 2018-01-02 01:00:00
           46.942488 -65.081884  5117.383301 2018-01-02 01:00:00

[13462 rows x 19 columns]

In [334]:
the_df = pd.DataFrame()

In [335]:
# consider the start date as 2021-february 1 st
start_date = datetime(2018, 1, 1, 1, 0, 0)

# consider the end date as 2021-march 1 st
end_date = datetime(2018, 1, 2, 23, 59, 59)

# delta time
delta = timedelta(days=1)

In [336]:
savedir = "/home/aevans/ai2es/cleaned/NAM/"
fh = str(0).zfill(3)
init = str(00).zfill(2)

In [337]:
init

'00'

In [338]:
# Loop through the date range
while start_date <= end_date:
    the_df = pd.DataFrame()
    my_date = start_date
    my_time = my_date + timedelta(hours=int(fh))
    # Loop through 24 hours of the day
    for i in np.arange(0, 24):
        fh = str(i).zfill(3)
        my_time = str(my_time)
        my_time = my_date + timedelta(hours=int(fh))
        print(my_time)
        month = str(my_date.strftime("%m"))
        year = str(my_date.strftime("%Y"))
        day = str(my_date.strftime("%d"))
        # Check if the file exists for the given date and forecast hour
        if not os.path.exists(
            f"{savedir}{year}/{month}/{year}{month}{day}_nam.t{init}z_{fh}.parquet"
        ):
            continue
        else:
            # Read the data from the parquet file
            df = pd.read_parquet(
                f"{savedir}{year}/{month}/{year}{month}{day}_nam.t{init}z_{fh}.parquet"
            ).reset_index()
            # Filter data for the specific time
            new_df = df[df["valid_time"] == my_time]
            the_df = pd.concat([df, the_df])


    start_date += delta

2018-01-01 01:00:00
2018-01-01 02:00:00
2018-01-01 03:00:00
2018-01-01 04:00:00
2018-01-01 05:00:00
2018-01-01 06:00:00
2018-01-01 07:00:00
2018-01-01 08:00:00
2018-01-01 09:00:00
2018-01-01 10:00:00
2018-01-01 11:00:00
2018-01-01 12:00:00
2018-01-01 13:00:00
2018-01-01 14:00:00
2018-01-01 15:00:00
2018-01-01 16:00:00
2018-01-01 17:00:00
2018-01-01 18:00:00
2018-01-01 19:00:00
2018-01-01 20:00:00
2018-01-01 21:00:00
2018-01-01 22:00:00
2018-01-01 23:00:00
2018-01-02 00:00:00
2018-01-02 01:00:00
2018-01-02 02:00:00
2018-01-02 03:00:00
2018-01-02 04:00:00
2018-01-02 05:00:00
2018-01-02 06:00:00
2018-01-02 07:00:00
2018-01-02 08:00:00
2018-01-02 09:00:00
2018-01-02 10:00:00
2018-01-02 11:00:00
2018-01-02 12:00:00
2018-01-02 13:00:00
2018-01-02 14:00:00
2018-01-02 15:00:00
2018-01-02 16:00:00
2018-01-02 17:00:00
2018-01-02 18:00:00
2018-01-02 19:00:00
2018-01-02 20:00:00
2018-01-02 21:00:00
2018-01-02 22:00:00
2018-01-02 23:00:00
2018-01-03 00:00:00

In [339]:
the_df['valid_time'].unique()

array(['2018-01-02T23:00:00.000000000', '2018-01-02T22:00:00.000000000',
       '2018-01-02T21:00:00.000000000', '2018-01-02T20:00:00.000000000',
       '2018-01-02T19:00:00.000000000', '2018-01-02T18:00:00.000000000',
       '2018-01-02T17:00:00.000000000', '2018-01-02T16:00:00.000000000',
       '2018-01-02T15:00:00.000000000', '2018-01-02T14:00:00.000000000',
       '2018-01-02T13:00:00.000000000', '2018-01-02T12:00:00.000000000',
       '2018-01-02T11:00:00.000000000', '2018-01-02T10:00:00.000000000',
       '2018-01-02T09:00:00.000000000', '2018-01-02T08:00:00.000000000',
       '2018-01-02T07:00:00.000000000', '2018-01-02T06:00:00.000000000',
       '2018-01-02T05:00:00.000000000', '2018-01-02T04:00:00.000000000',
       '2018-01-02T03:00:00.000000000', '2018-01-02T02:00:00.000000000',
       '2018-01-02T01:00:00.000000000'], dtype='datetime64[ns]')

In [340]:
df_sorted = the_df.iloc[::-1]

In [341]:
df_sorted

,time,latitude,longitude,y,x,orog,cape,cin,dswrf,dlwrf,...,t2m,sh2,d2m,r2,u10,v10,prmsl,tcc,gh,valid_time
13461,2018-01-02,46.942488,-65.081884,2.772665e+06,2.445430e+06,16.310024,0.0,0.015332,0.0,176.713226,...,256.856415,0.00073,252.391815,68.895287,3.614316,0.711664,101450.812500,0.0,5117.383301,2018-01-02 01:00:00
13460,2018-01-02,46.964570,-65.226452,2.772665e+06,2.433226e+06,27.430025,0.0,0.015332,0.0,189.713226,...,256.756439,0.00072,252.191818,68.495285,3.524316,0.441664,101467.609375,0.0,5117.031738,2018-01-02 01:00:00
13459,2018-01-02,46.986543,-65.371089,2.772665e+06,2.421022e+06,39.030025,0.0,0.015332,0.0,203.113235,...,256.526428,0.00071,252.091827,68.895287,3.394316,0.221664,101484.890625,0.0,5116.695312,2018-01-02 01:00:00
13458,2018-01-02,47.008407,-65.515795,2.772665e+06,2.408817e+06,48.710026,0.0,0.015332,0.0,187.913239,...,256.096436,0.00069,251.791824,69.595284,3.214316,0.041664,101501.210938,0.0,5116.391602,2018-01-02 01:00:00
13457,2018-01-02,47.030162,-65.660569,2.772665e+06,2.396613e+06,62.390026,0.0,0.015332,0.0,198.113235,...,256.106415,0.00069,251.791824,69.595284,3.024316,-0.158336,101512.093750,0.0,5116.087402,2018-01-02 01:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2018-01-02,37.998612,-84.380045,1.494584e+06,9.563343e+05,284.070038,0.0,-0.017773,0.0,171.550751,...,264.188843,0.00065,250.981659,33.500000,1.119126,1.158038,103452.531250,0.0,5507.646484,2018-01-02 23:00:00
3,2018-01-02,38.006910,-84.515061,1.494584e+06,9.441274e+05,280.950012,0.0,-0.017773,0.0,170.650757,...,264.318817,0.00064,250.781662,32.599998,1.199126,1.028038,103453.492188,0.0,5507.294434,2018-01-02 23:00:00
2,2018-01-02,38.015101,-84.650097,1.494584e+06,9.319206e+05,268.150024,0.0,-0.017773,0.0,170.150757,...,264.478821,0.00063,250.581665,31.700001,1.189126,0.898038,103453.812500,0.0,5506.942383,2018-01-02 23:00:00
1,2018-01-02,38.023186,-84.785154,1.494584e+06,9.197137e+05,251.590027,0.0,-0.017773,0.0,169.750763,...,264.438843,0.00062,250.481659,31.500000,1.119126,0.808038,103453.328125,0.0,5506.574707,2018-01-02 23:00:00
0,2018-01-02,38.031165,-84.920231,1.494584e+06,9.075068e+05,240.150024,0.0,-0.017773,0.0,169.450760,...,264.428833,0.00061,250.481659,31.299999,1.069126,0.778038,103453.171875,0.0,5506.190430,2018-01-02 23:00:00